/build
/framelibrary/build
/app/build
/app/*.iml
/.gradle
/*.properties
/framelibrary/*.iml

# Ant
local.properties

# Maven
target/
release.properties

# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac
.DS_Store

# gitignore
.gitignore

/.idea
